In [ ]:
import pandas as pd

belize_listings_path = "belize_airbnb_listings.csv"
belize_df=pd.read_csv(belize_listings_path)
#belize_df.head(10)
belize_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365

In [48]:
neighborhood_collect = belize_df[['price', 'number_of_reviews', 'availability_365']].agg(['mean','sum','max'])

average_price = belize_df['price'].mean()


total_number_of_reviews = belize_df['number_of_reviews'].sum()


maximum_availability = belize_df['availability_365'].max()

print(neighborhood_collect)

              price  number_of_reviews  availability_365
mean     357.102289          14.453505        280.315451
sum   998458.000000       40412.000000     783762.000000
max    11788.000000         316.000000        365.000000

In [13]:
import numpy as np
import pandas as pd

#module for statistics
import math
import statistics
from scipy import stats